*{
    box-sizing: border-box;
}
/** css do projeto **/
body {
    margin: 0;
    font-family: "Segoe UI";

}

#windowsxp {
    display: flex;
    /** display mais utilizado nesse projeto**/   
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.desktop {
    display: flex;
    flex-flow: column;
    width: 100vw;
    background: url(/imagens/fundo.jpg);
    background-size: cover;
    overflow: hidden;
}

.tarefas{
    display: flex;
    justify-content: space-between;
    /** espaço entre iniciar e notificação **/
    position: absolute;
    /** posição em relação ao pai **/
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background: linear-gradient(
        to bottom,
        #245edb 0%,
        #0c8dea 9%,
        #245edb 18%,
        #333 100%
    );
}

    #iniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    border: none;
    background: linear-gradient(
      to bottom,
      #3d973d 0%,
      #6faf72 9%,
      #3d973d 18%,
      #3d973d 92%,
      #666 100%
    );
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px #003d00;
    margin-right:15px;
  }

  .notificação {
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    background: linear-gradient(
      to bottom,
      #0fadf4 0%,
      #0fadf4 9%,
      #108ae5 18%,
      #108ae5 92%,
      #666 100%
    );
  }
  
  .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 10px;
  }
    #volume{
        margin-left: 10px;
        background: url(/imagens/volume.png);
        background-size: cover;
    }
    #media{
        margin-left: 10px;
        background: url(/imagens/player.png);
        background-size: cover;
    }
    #segurança{
        margin-left: 10px;
        background: url(/imagens/segurança.png);
        background-size: cover;
    }

    #relogio {
      margin-right: 15px;
      color: white;
    /*   font-family: "VT323", monospace; */
      font-size: 18px;
      font-weight: bold;
      cursor: context-menu;
    }
 .desktop-icon {
  width: 60px;
  height: 80px;
  padding: 15;
  text-align: center;
 }

.desktop-icon img{
  max-width: 100%;
}

.desktop span{
  color: white;
  font-size: 12px;
  text-shadow: 2px;
  cursor: context-menu;
}

.desktop-icon.selected span{
  background: #004e98;
  display: flex;
  justify-content: center;

}
 